.wrapper.style1, #nav{

background-color: #3fcbba;

}
.wrapper.style2{
	background-color: #c84712;
}

.wrapper.style3{
	background-color: #f3ac22;
}


#nav .liAgenda{

background: #383838;

}

.logo {
	float: left;
	width: 25%;
}



.navWithLogo {
	left: auto !important;
    right: 0;
    width: 70% !important;
}

#main, .item, #reel {
	height: auto !important;

	
}

#main {
	overflow-x: auto;
    overflow-y: hidden;
}

.item {
	box-shadow:  none !important;
	border: none !important;
    color: #fff;
    cursor: default;
    margin-right: 3px;
    float: left;
}

.item .inner img {
	position: relative !important;
	/*background-position: 0px 0px; 
	background-size: 150% 150%;
	background: url('images/crops/icon-sprite.PNG') no-repeat; */

}
.item .inner {
	padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
}
.timeStamp {
	text-align: left;
	margin-bottom: 10px;
}

.timeStamp span.hour {
	font-size: 1.5em;
	font-weight: 200;
}

.timeStamp h3 {

	display: inline;
}


#main::-webkit-scrollbar { 
    display: none; 
}

#reel {
	width: 2200px;
	border: none !important;
}

.backgroundGreen {
	background-color: #54ac0c !important;
}

.backgroundWhite .inner {
	background-color: #fff !important;
}

.backgroundWhite .timeStamp, .backgroundWhite p {
	color: #000;
}

.backgroundWhite p {
	text-align: left;
	line-height: 1em;
	margin-bottom: 10px; 
}

.meetingDetails {
	width: auto !important;
	max-width: 300px;
}

.presentationDiv, .feedBackDiv {
	margin-top: 1px;
	padding-top: 10px;

}

.feedBackDiv {
	cursor: pointer;
}

.imgPresentation {
	margin: 0 auto;
	background: url('images/crops/icon-sprite.PNG') no-repeat;
	background-position: 0px -111px; 
	width: 28px;
	height: 34px;
}

.imgFeedBack{
	margin: 0 auto;
	background: url('images/crops/icon-sprite.PNG') no-repeat;
	background-position: -30px -102px; 
	width: 39px;
	height: 51px;
}